/* Styles go here */
/*.md-datepicker-calendar, .md-datepicker-input-mask-opaque
  {  background: rgb(255,255,255);}


.md-calendar-date.md-calendar-selected-date .md-calendar-date-selection-indicator, .md-calendar-date.md-focus.md-calendar-selected-date .md-calendar-date-selection-indicator {
    background: rgb(33,150,243);
    color: rgb(255,255,255);
    border-color: transparent;
}

.md-calendar-date-selection-indicator:hover {
    background: rgb(224,224,224);
}

.md-calendar-day-header {
    background: rgb(224,224,224);
    color: rgba(0,0,0,0.87);
}

.md-calendar-date-disabled, .md-calendar-month-label-disabled {
    color: rgba(0,0,0,0.26);
}*/


.ui-grid {
background-color:rgb(250,250,255);
}
md-datepicker{
    background-color: rgb(238,238,255);
}
.md-button{text-transform: none}
md-toolbar {
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    z-index: 2;
    font-size: 20px;
    min-height: auto;
    width: 100%;
     margin: 0;
      padding: 0 0px;
}
.md-toolbar-tools {
    font-size: 20px;
    letter-spacing: 0.005em;
    box-sizing: border-box;
    font-weight: 400;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%;
    height: 48px;
    max-height: 48px;
    padding: 0 0px;
    margin: 0;
}
md-toolbar.md-hue-1:not(.md-menu-toolbar) {
    background-color: rgb(238,238,255);
    color: rgba(0,0,0,0.87);
}
md-sidenav {
  overflow: visible;
  
}
.side-menu, .side-menu ul {
  list-style: none;
  padding: 0;
  margin-top: 0;
}

.side-menu .md-button.active {
  color: #FF5722; /* deep-orange 500 */
}

.side-menu .menu-toggle-list a.md-button {
  display: block;
  padding: 0 16px 0 32px;
  text-transform: none;
  text-rendering: optimizeLegibility;
  font-weight: 500;
}

.side-menu .menu-toggle-list .md-button {
  display: block;
  padding: 0 16px 0 32px;
  text-transform: none;
}

.side-menu > li {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.md-button-toggle .md-toggle-icon.toggled {
  transform: rotateZ(180deg);
  -webkit-transform: rotateZ(180deg);
}

.md-button-toggle.toggled {
  background-color: rgba(0, 0, 0, 0.02);
}

.side-menu .md-button-toggle .md-toggle-icon {
  margin: auto 0 auto auto;
  padding-top: 12px;
  width: 15px;
  float: right;
  transition: transform .3s ease-in-out;
  -webkit-transition: -webkit-transform .3s ease-in-out;
}
md-input-container {
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 0px 0px 0px;
}
.md-select-value {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 2px 2px 1px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    background-color: transparent;
    position: relative;
    box-sizing: content-box;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.menu-toggle-list.ng-hide {
  max-height: 0;
}

.side-menu .md-button {
  border-radius: 0;
  color: inherit;
  cursor: pointer;
  font-weight: 400;
  line-height: 40px;
  margin: 0;
  max-height: 40px;
  overflow: hidden;
  padding: 0 16px;
  text-align: left;
  text-decoration: none;
  white-space: normal;
  width: 100%;
}

.menu-toggle-list {
  background: #fff;
  max-height: 1300px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  -webkit-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
  -webkit-transition-property: max-height;
  -moz-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
  -moz-transition-property: max-height;
  transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
  transition-property: max-height;
}

.side-menu menu-toggle span{
  padding-top: 12px;
  padding-bottom: 12px;
}

.md-button.md-fab.md-fab-top-left {
    top: 0px;
    right: auto;
    bottom: auto;
    left: 0px;
    position: absolute;
}
.md-button.md-fab.md-fab-top-right {
    top: 0px;
    right: 0px;
    bottom: auto;
    left: auto;
    position: absolute;
}
.md-button.md-fab {
    z-index: 20;
    line-height: 16px;
    min-width: 0;
    width: auto;
    height: 16px;
    vertical-align: top;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.26);
    border-radius: 50%;
    background-clip: padding-box;
    overflow: hidden;
    transition: 0.2s linear;
    transition-property: background-color, box-shadow;
}
a.md-button.md-default-theme.md-fab, a.md-button.md-fab, .md-button.md-default-theme.md-fab, .md-button.md-fab {
    background-color: rgb(0, 148, 255);
    color: rgb(255,255,255);
}